.btn-outline {
    padding: 0.5rem 1rem;
    border: 0.1rem solid black;
    border-radius: 1.5rem;
    color: black;
    margin: 0 0.5rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    
}